flows_ewzfip.local.json
[{"id":"facbf411.64ce78","type":"tab","label":"Sensor Simulator","disabled":false,"info":""},{"id":"e7bda670.84f858","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3f8726a7.1fb9fa","type":"mqtt-broker","z":"","name":"","broker":"http://mqtt.eclipse.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"26c0de5c.0ba232","type":"git-nodes-config","z":"","name":"","git":"git@github.com:patFish/e-darwin-demo.git"},{"id":"25f74c74.d22f94","type":"twilio-api","z":"","name":"","sid":"AC7ceadf2c849d5ee25d9b42f5a2971f5a","from":"+18473270596"},{"id":"78893ac9.ab3d24","type":"ttn app","z":"","appId":"lubdiduu","accessKey":"ttn-account-v2.jA9qm2T_9FKkWG9j8zLUHY916fdNzRGal1jN3BBuTTw","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"db787e38.9efaa","type":"mqtt out","z":"facbf411.64ce78","name":"","topic":"devs/123456","qos":"2","retain":"","broker":"3f8726a7.1fb9fa","x":570,"y":100,"wires":[]},{"id":"6c569919.879358","type":"inject","z":"facbf411.64ce78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["af51cd41.6e9f4"]]},{"id":"ac2fcfd5.7205e","type":"debug","z":"facbf411.64ce78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":160,"wires":[]},{"id":"54c6c63.0566c38","type":"debug","z":"facbf411.64ce78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":240,"wires":[]},{"id":"b8b4b823.f5e988","type":"mqtt in","z":"facbf411.64ce78","name":"","topic":"devs/#","qos":"2","datatype":"auto","broker":"3f8726a7.1fb9fa","x":130,"y":240,"wires":[["70afe5db.df397c"]]},{"id":"af51cd41.6e9f4","type":"function","z":"facbf411.64ce78","name":"","func":"msg.payload= {\n    \"pressure\":Math.floor((Math.random() * 10) + 1),\n    \"unit\": \"bar\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["ac2fcfd5.7205e","db787e38.9efaa"]]},{"id":"70afe5db.df397c","type":"json","z":"facbf411.64ce78","name":"","property":"payload","action":"","pretty":false,"x":330,"y":240,"wires":[["54c6c63.0566c38"]]},{"id":"6a3d1cdf.779e64","type":"git-nodes","z":"facbf411.64ce78","label":"","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":true,"git":"26c0de5c.0ba232","x":940,"y":280,"wires":[]},{"id":"a7f03044.31b29","type":"function","z":"facbf411.64ce78","name":"","func":"if(msg.payload){\n    msg.payload= {\n    \"isAlarm\":msg.payload,\n    \"state\":{\"ttl\":22},\n    \"location\":\"TSE03\"\n}} else {\n    msg.payload= {\n    \"isAlarm\":msg.payload}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["2c10ac1f.e4f9f4","e70c949f.01bc08"]]},{"id":"846808e1.59a548","type":"inject","z":"facbf411.64ce78","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["a7f03044.31b29"]]},{"id":"2c10ac1f.e4f9f4","type":"debug","z":"facbf411.64ce78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":420,"wires":[]},{"id":"e70c949f.01bc08","type":"mqtt out","z":"facbf411.64ce78","name":"","topic":"devs/darwin","qos":"2","retain":"","broker":"3f8726a7.1fb9fa","x":570,"y":340,"wires":[]},{"id":"275209dd.438fd6","type":"inject","z":"facbf411.64ce78","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["a7f03044.31b29"]]},{"id":"6ced7fed.e20dc","type":"twilio out","z":"facbf411.64ce78","twilio":"25f74c74.d22f94","twilioType":"sms","url":"","number":"+41764454941","name":"","x":710,"y":520,"wires":[]},{"id":"176ded01.b41753","type":"mqtt in","z":"facbf411.64ce78","name":"","topic":"devs/alarm","qos":"2","datatype":"auto","broker":"3f8726a7.1fb9fa","x":140,"y":520,"wires":[["f459682.9b47598"]]},{"id":"f459682.9b47598","type":"trigger","z":"facbf411.64ce78","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":330,"y":520,"wires":[["6da482e5.2915bc"]]},{"id":"6da482e5.2915bc","type":"function","z":"facbf411.64ce78","name":"","func":"msg.payload = \"Alarm im TSE03 MFS123\"\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":520,"wires":[["6ced7fed.e20dc","76c59418.979dcc"]]},{"id":"76c59418.979dcc","type":"debug","z":"facbf411.64ce78","name":"twilio out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":580,"wires":[]},{"id":"50b4d9fa.4780f8","type":"inject","z":"facbf411.64ce78","name":"Test Alarm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":660,"wires":[["f459682.9b47598"]]},{"id":"e519d676.67ed88","type":"debug","z":"e7bda670.84f858","name":"queue","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":180,"wires":[]},{"id":"10aa5f4e.974941","type":"ttn uplink","z":"e7bda670.84f858","name":"","app":"78893ac9.ab3d24","dev_id":"testpi","field":"","x":140,"y":260,"wires":[["2168ebd6.98ef24"]]},{"id":"2168ebd6.98ef24","type":"function","z":"e7bda670.84f858","name":"lora decoder","func":"let inp = msg.payload.msg;\nlet buff = Buffer.from(inp, 'base64'); \nlet data = buff.readInt32BE();\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["6d029390.0989ec"]]},{"id":"29284cc0.2fc674","type":"inject","z":"e7bda670.84f858","name":"","topic":"","payload":"{\"msg\":\"AAAAAQ==\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":360,"wires":[["2168ebd6.98ef24"]]},{"id":"6d029390.0989ec","type":"function","z":"e7bda670.84f858","name":"pi decoder","func":"msg.payload = msg.payload / 100\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["c65ec8f2.0c0498"]]},{"id":"c65ec8f2.0c0498","type":"function","z":"e7bda670.84f858","name":"store data in queue","func":"var queue = context.get('queue')|| [];\nqueue.push(msg.payload)\nif (queue.length > 10) {\n     var i = queue.shift();\n}\ncontext.set('queue', queue); // to store a variable\nmsg.payload = queue;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":260,"wires":[["c08fb7a5.28d7d8","e519d676.67ed88"]]},{"id":"c08fb7a5.28d7d8","type":"function","z":"e7bda670.84f858","name":"define gradients","func":"let gradient = context.get('gradient') || []\n\nlet inDat = msg.payload\n\nif (inDat.length===1){\n    gradient.push(inDat[0])\n} else {\n    for(let i =0;i<inDat.length-1; i++){\n        let cur = inDat[i]\n        let next = inDat[i+1]\n        gradient[i] = (cur-next)\n    }\n}\ncontext.set('gradient', gradient)\nmsg.payload = gradient\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":260,"wires":[["72756d31.cf7144","5b7f2cee.2f4254"]]},{"id":"72756d31.cf7144","type":"function","z":"e7bda670.84f858","name":"define alarm","func":"let data = msg.payload;\nlet first = data.pop();\nlet last =0\nif (msg.payload.length>1){\n    last = data.pop()\n}\n\nlet diff = first - last\n\nnode.error(diff)\n\nlet alarm = false;\nif (Math.abs(diff)>1.5){\n    node.error('extra')\n    alarm = true\n}\n\nmsg.payload = alarm\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["5a2bd9fb.220948"]]},{"id":"5b7f2cee.2f4254","type":"debug","z":"e7bda670.84f858","name":"gradients","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1040,"y":340,"wires":[]},{"id":"dde25cf2.350e6","type":"debug","z":"e7bda670.84f858","name":"alarm","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":340,"wires":[]},{"id":"5a2bd9fb.220948","type":"function","z":"e7bda670.84f858","name":"","func":"let alarm = context.get('alarm') || false\nlet alarmcnt = context.get('cnt') || 0\n\nif (msg.payload){\n    alarmcnt++\n}\n\nif (msg.payload && alarmcnt>1){\n    alarm = msg.payload\n    context.set('alarm', alarm)\n    msg.payload = alarm\n    return msg;\n}\nnode.error(alarmcnt)\ncontext.set('cnt', alarmcnt)","outputs":1,"noerr":0,"x":760,"y":440,"wires":[["dde25cf2.350e6","8febf9f6.1d1cd8"]]},{"id":"b8e503ed.933f2","type":"mqtt in","z":"facbf411.64ce78","name":"","topic":"devs/123456/alarm","qos":"2","datatype":"auto","broker":"3f8726a7.1fb9fa","x":170,"y":420,"wires":[["a7f03044.31b29"]]},{"id":"8febf9f6.1d1cd8","type":"mqtt out","z":"e7bda670.84f858","name":"","topic":"devs/123456/alarm","qos":"","retain":"","broker":"3f8726a7.1fb9fa","x":980,"y":440,"wires":[]}]