flows_ewzfip.local.json
[{"id":"facbf411.64ce78","type":"tab","label":"Sensor Simulator","disabled":false,"info":""},{"id":"3f8726a7.1fb9fa","type":"mqtt-broker","z":"","name":"","broker":"http://mqtt.eclipse.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"26c0de5c.0ba232","type":"git-nodes-config","z":"","name":"","git":"git@github.com:patFish/e-darwin-demo.git"},{"id":"db787e38.9efaa","type":"mqtt out","z":"facbf411.64ce78","name":"","topic":"devs/123456","qos":"2","retain":"","broker":"3f8726a7.1fb9fa","x":630,"y":140,"wires":[]},{"id":"6c569919.879358","type":"inject","z":"facbf411.64ce78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["af51cd41.6e9f4"]]},{"id":"ac2fcfd5.7205e","type":"debug","z":"facbf411.64ce78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":260,"wires":[]},{"id":"54c6c63.0566c38","type":"debug","z":"facbf411.64ce78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":380,"wires":[]},{"id":"b8b4b823.f5e988","type":"mqtt in","z":"facbf411.64ce78","name":"","topic":"devs/123456","qos":"2","datatype":"auto","broker":"3f8726a7.1fb9fa","x":140,"y":380,"wires":[["70afe5db.df397c"]]},{"id":"af51cd41.6e9f4","type":"function","z":"facbf411.64ce78","name":"","func":"msg.payload= {\n    \"pressure\":Math.floor((Math.random() * 10) + 1),\n    \"unit\": \"bar\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["ac2fcfd5.7205e","db787e38.9efaa"]]},{"id":"70afe5db.df397c","type":"json","z":"facbf411.64ce78","name":"","property":"payload","action":"","pretty":false,"x":350,"y":440,"wires":[["54c6c63.0566c38"]]},{"id":"6a3d1cdf.779e64","type":"git-nodes","z":"facbf411.64ce78","label":"","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":true,"git":"26c0de5c.0ba232","x":940,"y":280,"wires":[]}]